"# Автоматически определять текстовые файлы" 
"* text=auto" 
"" 
"# Бинарные файлы - не трогать" 
"*.drawio binary" 
"*.pem binary" 
"*.bkp binary" 
"" 
"# Текстовые файлы" 
"*.json text" 
"*.md text" 
"*.js text" 
"*.ts text" 
"*.yml text" 
"*.yaml text" 
